{{ define "main" }}
  {{ $allPages := .Pages.ByDate.Reverse }}
  {{ $posts := slice }}
  {{ range $allPages }}
    {{ $ct := .Params.content_type }}
    {{ $ctList := slice }}
    {{ if $ct }}
      {{ if reflect.IsSlice $ct }}{{ $ctList = $ct }}
      {{ else }}{{ $ctList = slice $ct }}{{ end }}
    {{ end }}
    {{ if not (or (in $ctList "mesa") (in $ctList "newsletter_dsa")) }}
      {{ $posts = $posts | append . }}
    {{ end }}
  {{ end }}
  {{- $minYear := 9999 -}}
  {{- $maxYear := 0 -}}
  {{- range $posts -}}
    {{- if not .Date.IsZero -}}
      {{- $y := int (.Date.Format "2006") -}}
      {{- if lt $y $minYear -}}{{- $minYear = $y -}}{{- end -}}
      {{- if gt $y $maxYear -}}{{- $maxYear = $y -}}{{- end -}}
    {{- end -}}
  {{- end -}}
  <section class="section-hub">
    <header class="section-hub__header">
      <div class="blog-title-row">
        <h1 class="section-hub__title">{{ .Title }}</h1>
        <div class="blog-timeline" data-blog-timeline data-min-year="{{ $minYear }}" data-max-year="{{ $maxYear }}">
          <div class="blog-timeline__track">
            <div class="blog-timeline__range" data-blog-timeline-range></div>
            <input type="range" class="blog-timeline__slider blog-timeline__slider--min" data-blog-timeline-min min="{{ $minYear }}" max="{{ $maxYear }}" value="{{ $minYear }}" step="1">
            <input type="range" class="blog-timeline__slider blog-timeline__slider--max" data-blog-timeline-max min="{{ $minYear }}" max="{{ $maxYear }}" value="{{ $maxYear }}" step="1">
          </div>
          <span class="blog-timeline__value" data-blog-timeline-label>{{ $minYear }} – {{ $maxYear }}</span>
        </div>
      </div>
      {{ with .Params.description }}<p class="section-hub__description">{{ . }}</p>{{ end }}
    </header>

    <div class="blog-layout">
      <nav class="blog-nav" aria-label="Filtros">
        <div class="blog-nav__section">
          <p class="blog-nav__heading">Categorías</p>
          <ul class="blog-nav__list">
            <li class="blog-nav__item is-active">
              <a href="#" class="blog-nav__link" data-blog-tab="">Todas</a>
            </li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-tab="Empresas y DDHH">Empresas y DDHH</a></li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-tab="Erosión democrática">Erosión democrática</a></li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-tab="Plataformas">Plataformas</a></li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-tab="Regulación y tecnología">Regulación y tecnología</a></li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-tab="Violencias">Violencias</a></li>
          </ul>
        </div>

        <div class="blog-nav__section">
          <p class="blog-nav__heading">Etiquetas</p>
          <ul class="blog-nav__list">
            <li class="blog-nav__item">
              <a href="#" class="blog-nav__link" data-blog-tag="">Todas</a>
            </li>
            {{ range $.Site.Taxonomies.tags.ByCount }}
              <li class="blog-nav__item">
                <a href="#" class="blog-nav__link" data-blog-tag="{{ .Name }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>

        <div class="blog-nav__section">
          <p class="blog-nav__heading">Región</p>
          <ul class="blog-nav__list">
            <li class="blog-nav__item is-active">
              <a href="#" class="blog-nav__link" data-blog-region-btn="">Todas</a>
            </li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-region-btn="latam">LatAm</a></li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-region-btn="global">Global</a></li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-region-btn="europe">Europa</a></li>
            <li class="blog-nav__item"><a href="#" class="blog-nav__link" data-blog-region-btn="us">EE.UU.</a></li>
          </ul>
        </div>

        <div class="blog-nav__section">
          <p class="blog-nav__heading">Países</p>
          <ul class="blog-nav__list">
            <li class="blog-nav__item">
              <a href="#" class="blog-nav__link" data-blog-country="">Todos</a>
            </li>
            {{- $countrySet := slice -}}
            {{- range $posts -}}
              {{- $c := .Params.country -}}
              {{- if $c -}}
                {{- $list := $c -}}
                {{- if not (reflect.IsSlice $list) -}}{{ $list = slice $list }}{{- end -}}
                {{- range $list -}}
                  {{- if and . (not (in $countrySet .)) -}}
                    {{- $countrySet = $countrySet | append . -}}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
            {{- range sort $countrySet }}
            <li class="blog-nav__item">
              <a href="#" class="blog-nav__link" data-blog-country="{{ . }}">{{ . }}</a>
            </li>
            {{- end }}
          </ul>
        </div>

      </nav>

      <div class="section-hub__blocks">
        <section class="section-block">
          <p class="blog-filter__count" data-blog-count></p>
          <ul class="section-block__list" data-blog-list data-blog-step="10">
            {{ range $post := $posts }}
              {{ $issues := $post.Params.issues | default slice }}
              {{ $tags := $post.Params.tags | default slice }}
              {{ $country := $post.Params.country | default slice }}
              <li class="section-block__item section-block__item--media-right"
                  data-blog-item
                  data-blog-issues='{{ $issues | jsonify }}'
                  data-blog-tags='{{ $tags | jsonify }}'
                  data-blog-region='{{ $post.Params.region | default "global" }}'
                  data-blog-country='{{ $country | jsonify }}'
                  data-blog-year='{{ if not $post.Date.IsZero }}{{ $post.Date.Format "2006" }}{{ end }}'>
                <div class="section-block__body">
                  <h3 class="section-block__title">
                    <a class="section-block__link" href="{{ $post.RelPermalink }}">{{ $post.Title }}</a>
                  </h3>
                  {{ with $post.Params.description }}
                    <p class="section-block__excerpt">{{ . }}</p>
                  {{ end }}
                  {{ $hasAuthor := $post.Params.author }}
                  {{ $hasDate := not $post.Date.IsZero }}
                  {{ if or $hasAuthor $hasDate }}
                    <div class="section-block__byline">
                      {{ with $post.Params.author }}
                        <span class="section-block__by">{{ i18n "byline" }} {{ partial "author-links.html" (dict "authors" . "context" $post) }}</span>
                      {{ end }}
                      {{ if $hasDate }}
                        <time class="section-block__date" datetime="{{ $post.Date.Format "2006-01-02" }}">{{ partial "date-es.html" $post.Date }}</time>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
                {{ with $post.Params.image }}
                  <div class="section-block__media">
                    <img src="{{ . | relURL }}" alt="{{ $post.Title }}">
                  </div>
                {{ end }}
              </li>
            {{ end }}
          </ul>
          <button type="button" class="section-block__load-more" data-blog-load hidden>
            {{ i18n "hub_load_more" }}
          </button>
        </section>
      </div>
    </div>
  </section>
{{ end }}
