{{ $groups := slice
  (dict "key" "staff" "title" "Staff")
  (dict "key" "alumni" "title" "Alumni")
  (dict "key" "friends" "title" "Friends")
}}
{{ $allPeople := $.RegularPages }}

<section class="authors-hub">
  <header class="authors-hub__header">
    <h1 class="authors-hub__title">{{ .Title }}</h1>
    {{ with .Params.description }}
      <div class="authors-hub__description">
        {{ . | markdownify }}
      </div>
    {{ end }}
    {{ with .Content }}
      <div class="authors-hub__intro">
        {{ . }}
      </div>
    {{ end }}
  </header>

  {{ range $groups }}
    {{ $type := .key }}
    {{ $title := .title }}
    {{ $people := slice }}
    {{ range $allPeople }}
      {{ $currentType := lower (.Params.author_type | default "") }}
      {{ if and (eq $type "staff") (eq $currentType "") }}
        {{ $people = $people | append . }}
      {{ else if eq $currentType $type }}
        {{ $people = $people | append . }}
      {{ end }}
    {{ end }}
    {{ $people = sort $people "Weight" "asc" }}
    {{ $withYaml := slice }}
    {{ $withoutYaml := slice }}
    {{ range $people }}
      {{ $hasYaml := or .Params.author_type .Params.weight .Params.bio_short .Params.role .Params.photo .Params.twitter_handle .Params.bluesky_handle .Params.orcid_number .Params.email .Params.title }}
      {{ if $hasYaml }}
        {{ $withYaml = $withYaml | append . }}
      {{ else }}
        {{ $withoutYaml = $withoutYaml | append . }}
      {{ end }}
    {{ end }}
    {{ $orderedPeople := slice }}
    {{ range $withYaml }}
      {{ $orderedPeople = $orderedPeople | append . }}
    {{ end }}
    {{ range $withoutYaml }}
      {{ $orderedPeople = $orderedPeople | append . }}
    {{ end }}

    <section class="authors-group" data-author-type="{{ $type }}">
      <h2 class="authors-group__title">{{ $title }}</h2>
      {{ if gt (len $orderedPeople) 0 }}
        <ul class="authors-grid">
          {{ range $orderedPeople }}
            {{ partial "author-card.html" (dict "page" .) }}
          {{ end }}
        </ul>
      {{ else }}
        <p class="authors-group__empty">No entries yet.</p>
      {{ end }}
    </section>
  {{ end }}
</section>
